.dark {
    background-color: #1a202c;
    color: white;
}
.chargingstation-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #e2e8f0;
    background-color: white;
    color: black;
}
.dark .chargingstation-container {
    background-color: #1a202c;
    border-bottom-color: #2d3748;
}
.chargingstation-header {
    display: flex;
    align-items: center;
    padding: 16px;
    color: black;
}
.chargingstation-profile-info {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    flex-direction: column;
}
.chargestation-address-span{
    font-size: 16px;
    font-weight: 400;
    margin-top: 1rem;
}
.chargingstation-account-info {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.chargingstation-account-balance {
    text-align: right;
}
.chargingstation-balance-label {
    font-size: 12px;
    color: #a0aec0;
}
.dark .chargingstation-balance-label {
    color: #a0aec0;
}
.chargingstation-balance-amount {
    font-size: 18px;
    color: #1a202c;
}
.dark .chargingstation-balance-amount {
    color: white;
}
.chargingstation-nav-links {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: flex-start;
}
.chargingstation-nav-link {
    padding: 8px 12px;
    border-bottom: 2px solid transparent;
    color: #4a5568;
    text-decoration: none;
    cursor: pointer;
}
.dark .chargingstation-nav-link {
    color: #a0aec0;
}
.chargingstation-nav-link-active {
    border-bottom-color: #3182ce;
    color: #3182ce;
}
.dark .chargingstation-nav-link-active {
    border-bottom-color: white;
    color: white;
}

.chargingstationtabcontainer{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    color: black;
}
.chargingstation-totalbookings{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}