.main_content_chargepoint{
    width: 100%;
    min-height: 90vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--white-color);
    color: var(--text-color);
}
