@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
   color: black;
}

.chargingStationDashboard{
  display: flex;
  width: 100%;
  height: 100vh;
}

.chargingStationDashboard .sidebar{
  width: 30%;
  height: 100%;
  background: #4b4276;
}
.chargingSlotsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90%;
  
}

.chargingStationDashboard .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  color: #bdb8d7;
  display: block;
}    


.chargingStationDashboard .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.chargingStationDashboard .sidebar ul li:hover a{
  color: #fff;
}


.chargingStationDashboard .main_content{
  width: 70%;
  height: 100%;
  background: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chargingStationDashboard .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.chargingStationDashboard .header{
  display:flex;
  align-items: center;
  width: 100%;
  gap: 1em;
  height: 10%;
  background-color: #717171;
}
.chargingStationDashboard .header img{
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-left: 2%;
}
.chargingStationDashboard .Title{
  width: 80%;
}
.chargingStationDashboard .headerImg{
  width: 20%;
}
.chargingStationDashboard .searbarbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.chargingStationDashboard .searbarbox input{
 width: 80%;

}
.chargingStationDashboard .searbarbox button{
  border-radius: 5px;
}
.chargingStationDashboard #map{
  width: 100%;
  height: 100%;
}
.chargingStationDashboard .chargingSlotPage{
  width: 100%;
  color: black;
  height: 90%;
  overflow-y: scroll;
}


.chargingSlotPage .chargingSlotCardscontainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chargingSlotPage .chargingSlotCard{
  display: flex;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  color: black;
  margin: 5px;
}
.chargingStationDashboard .chargingSlotCard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100px;
  position: relative;
}
.editSlotForm{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  margin: 5px;
}
.chargingStationDashboard .chagestationpage{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.chargingStationDashboard .chargestationheader{
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.chargingStationDashboard .chargestationheader span{
  font-weight: 600;
  font-size: 1.5rem;
}
.chargingStationDashboard .chargeslotscontainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.chargingStationDashboard .chargingslotcard{
  display: flex;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid blue;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 10px;
}
.chargingStationDashboard .selectslottip{
  color: black;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Css for Form */
.chargingStationDashboard .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: black;
  
  }
  
  .chargingStationDashboard .AddSlotButtonHeader{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }
  .chargingStationDashboard .AddSlotButtonHeader .AddSlotButton{
    cursor: pointer;
    padding: 1%;
    border-radius: 5px;

  }

  
  .chargingStationDashboard .ButtonDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  /* Charging Slots Css For buttons */
  .chargingStationDashboard .ButtonCrudDiv{
    display: flex;
    justify-content: space-around;

  }
   .chargingStationDashboard.ButtonCrudDiv button{
    font-size: 1em;
    padding: 1%;
  }
  .chargingStationDashboard .chargingSlotCard .description{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
  }
  .chargingStationDashboard .chargingSlotCard .buttons{
    width: 10%;
    display: flex;
    flex-direction: column;
  }
  .chargingStationDashboard .chargingSlotCard .buttons button{

    cursor: pointer;
    margin-top: 1%;
  }
  .chargingStationDashboard .ButttonCrudDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .chargingStationDashboard .ButttonCrudDiv .AddSlotButton{
    padding: 1%;
    cursor: pointer;
  }


  /* css for Add New Slot Popup box */
  .popupAddslot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.popupAddslot .popupformHeading{
font-size: 1.5rem;
margin-bottom:1%;
margin-top:1%;
}
.popupAddslot .popupAddslotForm{
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 80%;

}
.popupAddslot .popupAddslotForm input{
  padding: 1%;
}
.popupAddslot .popupAddslotForm select{
  padding: 1%;
}
.popupAddslot .popupAddslotForm .ButtonForAddSlotForm{
  display:flex ;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2%;
}
.popupAddslot .popupAddslotForm .ButtonForAddSlotForm button{
  cursor: pointer;
  padding: 1%;
  font-size: 1rem;
  border-radius: 4px;

}
.popupAddslot .popupAddslotForm .ButtonForAddSlotForm button:hover {
  background-color: #45a049;
}
