
.textup { 
	text-align: center; 
	color: rgb(0, 0, 0); 
	font-weight: 700; 
} 

i { 
	margin-right: 3px; 
} 

.feedback-form-box { 
	background-color: #fff; 
	box-shadow: 0 0 10px rgba(36, 67, 40, 0.8); 
	padding: 15px; 
	border-radius: 8px; 
	width: 500px; 
} 

#feedbackform { 
	max-width: 400px; 
	margin: 0 auto; 
} 

#feedbackform .radio-group { 
	display: flex;  
} 


#feedbackform label { 
	display: block; 
	margin-bottom: 8px; 
	font-size: 17px; 
	color: rgb(0, 0, 0); 
	font-weight: 600; 
} 

#feedbackform input, 
#feedbackform textarea { 
	width: 100%; 
	padding: 8px; 
	margin-bottom: 12px; 
	box-sizing: border-box; 
	border-radius: 10px; 

} 

#feedbackform button { 
	background-color: #368b44; 
	color: #fff; 
	padding: 10px; 
	border: none; 
	border-radius: 25px; 
	cursor: pointer; 
	width: 100%; 
	font-size: 15px; 
	transition: .2s linear; 
} 

#feedbackform button:hover { 
	background-color: #0a6808; 
	border: none; 
	transform: translateY(-10px); 
}