.find_station{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 255, 197);
    color: white;
    display: none;
}
.inputbox{
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp{
    width: 70%;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: 0,5px,0,5px black;
    text-align: center;
    border-radius: 10px;
}
.stationcards{
    width: 80%;
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    padding: 10px;
}
.stationcard{
    width: 40%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    color: black;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}