*{
    padding: 0;
    margin: 0;
}
.homepage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.contact_us{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    display: none;
}
.register_chargingstation{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    display: none;
}
.booking_page{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    display: none;

}