
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 100vw;
  height:100vh;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/download.webp');
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  background-position: center;

  
}

header {
  /* background-color: #1a1a1a;  */
  color:white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.landingpage {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color:rgb(74, 124, 84)
  
}
.logoDiv{
  height: 5%;
  padding: 1%;
  display: flex;
  align-items: center;
  width: 8%;
}
.headingDiv{
  width: 100%;
}
.description {
  width: 50%;
  margin-bottom: 5%;
  margin-left:0;
  margin-top: 20%;
  /* border: 2px solid rgb(55, 52, 52); */
  border-radius: 20px;
  padding: 5%;
}
.paragraphDes{
  width: 100%;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-button,
.station-button {
  display: inline-block;
  padding: 2% 3%;
  margin: 2%;
  border: 2px solid rgb(59, 44, 44); 
  border-radius: 5px;
  text-decoration: none;
  color:rgb(74, 124, 84);
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.user-button:hover,
.station-button:hover {
  background-color: burlywood; 
  color: #262626; 
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 4% 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
