
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}

body {
  font-family: Arial, sans-serif;
  width: 100vw;
  height:100vh;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/download.webp");

  /* background-image: url('../assets/download.webp'); */
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  background-position: center;

  
}

header {
  /* background-color: #1a1a1a;  */
  color:white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.landingpage {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color:rgb(74, 124, 84)
  
}
.logoDiv{
  height: 5%;
  padding: 1%;
  display: flex;
  align-items: center;
  width: 8%;
}
.headingDiv{
  width: 100%;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 80%;
}
.paragraphDes{
  width: 100%;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.user-button,
.station-button {
  display: inline-block;
  padding: 2% 3%;
  margin: 2%;
  border: 2px solid rgb(59, 44, 44); 
  border-radius: 5px;
  text-decoration: none;
  color:rgb(74, 124, 84);
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.user-button:hover,
.station-button:hover {
  background-color: burlywood; 
  color: #262626; 
}
.popupstaioninfo {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.popupstaioninfo h3 {
  margin: 0 0 5px;
}

.popupstaioninfo p {
  margin: 0;
  font-size: 14px;
}

.popupstaioninfo button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popupstaioninfo button:hover {
  background-color: #0056b3;
}