.mainpage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    color: white;

}
#map {
    width: 80%;
    height: 80vh; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}