.Navbar{
    width: 100%;
    height: 60px;
    position: sticky;
    background-color: #423442;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    align-items: center;
    padding: 10px 15px 10px 10px;
    margin-top: 5px;
    margin-left: 5%;

}
.logoimg{
    width: 50;
    height: 50;
}
.navbar-items{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar-item{
   cursor: pointer;
}
.navbar-item:hover{
    color: rgb(156, 209, 255);
 }