@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


.main-container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;

}
.updatestationformcontainer {
  width: 100%;
  min-height:80vh ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#updatestationform {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2%;
  width: 53%;
  min-width: 70%;
  max-width: 70%;
  color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#updatestationform button:hover {
  background-color: #45a049;
}
#updatestationform input{
  margin-bottom: 2%;
  padding: 0.5%;
  border-radius: 10px;
}
#updatestationform label{
  margin-bottom: 2%;
}
#updatestationform button{
  width: 40%;
  background-color: rgb(10, 144, 144);
  border-radius: 7px;
  margin-bottom: 2%;
  cursor: pointer;
  height: 2.075rem;
  font-size: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#updatestationform span{
  cursor: pointer;
  /* color: blue; */
}
.ButtonDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
