@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
   color: black;
}

.wrapper{
  display: flex;
  width: 100%;
  height: 100vh;
}

.wrapper .sidebar{
  width: 30%;
  height: 100%;
  background: #4b4276;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  color: #bdb8d7;
  display: block;
  
}    


.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}


.wrapper .main_content{
  width: 70%;
  height: 100%;
  background: #fff;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.header{
  display:flex;
  align-items: center;
  width: 100%;
  gap: 1em;
  height: 10%;
  background-color: #717171;
}
.header img{
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-left: 2%;
}
.Title{
  width: 80%;
}
.headerImg{
  width: 20%;
}
.searbarbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.searbarbox input{
 width: 80%;

}
.searbarbox button{
  border-radius: 5px;
}
#map{
  width: 100%;
  height: 100%;
}
.chargepointTab{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  
}
.chargepointcardscontainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.chargepointcard{
  display: flex;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid blue;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 10px;
}

.chagestationpage{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  overflow-y: auto;
}
.chargestationheader{
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.chargestationheader span{
  font-weight: 600;
  font-size: 1.5rem;
}
.chargeslotscontainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.chargingslotcard{
  display: flex;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid blue;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 10px;
}
.selectslottip{
  color: black;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.chargestationfooter{
  width: 100%;
}
.bookingbtngroup{
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 20%;
}