body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  display: flex;
}

.logo img {
  width: 40px; 
  height: auto; 
  vertical-align: middle;
  margin-right: 10px; 
}

.login {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }
}
.mainpage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}
#map {
  width: 80%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#searchInput {
  flex: 1;
  padding: 8px;
  margin-left: 8%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#searchButton {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-left: 10px; 
}

#stationDropdown {
  margin-top: 10px;
  margin-left: 10%;
  width: 80%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.selectStation{
  margin-right: 40%;
}
