body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.logo img {
  width: 40px; /* Adjust the width of the logo image */
  height: auto; /* Maintain aspect ratio */
  vertical-align: middle; /* Align the image vertically */
  margin-right: 10px; /* Add spacing between logo and text */
}

.login {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }
}
.mainpage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}
#map {
  width: 80%;
  height: 80vh; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
/* styles.css */

/* Style for search container */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Style for search input */
#searchInput {
  flex: 1; /* Take remaining space in the search container */
  padding: 8px;
  margin-left: 8%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for search button */
#searchButton {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-left: 10px; /* Add margin between input field and button */
}

/* Style for select dropdown */
#stationDropdown {
  margin-top: 10px;
  margin-left: 10%;/* Add margin between search bar and dropdown */
  width: 80%; /* Occupy full width */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
