.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.showUserBookingDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.UserBookingHeadingDiv {
  margin-bottom: 20px;
}

.ShowUserBookingHeadingSpan {
  font-size: 24px;
  font-weight: bold;
  margin: 1rem;
  color: black;
}

.showAllUserBookings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.ShowUserBookingCard {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: black;
  padding: 15px;
  box-sizing: border-box;
  display: flex;  
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 90%; 
  margin-bottom: 20px; 
}
.ShowUserBookingCard span{
  margin-bottom: 1rem;
}

.stationAddress{
  width: 200px;
  height: 100px;
}
.cancelUserBookingBtn {
  padding: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelUserBookingBtn:hover {
  background-color: #ff1a1a;
}
strong {
  font-weight: bold;
}

.bookingDate {
  margin-top: 10px;
  font-size: 16px;
}

.status-confirmed {
  color: green;
  font-weight: bold;
}

.status-cancelled {
  color: red;
  font-weight: bold;
}
.status-completed{
  color: rgb(0, 72, 255);
  font-weight: bold;
}