.searchpage{
  width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.searchpageheader{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.searchpagesearchbar{
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#searchcityinp{
  width: 80%;
  outline: none;
  border: 1px solid blueviolet;
  border-radius: 10px;
  height: 40px;
  padding-left: 1rem;
}
.searchpagesearchbar button {
  outline: none;
  border: 1px solid blueviolet;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: burlywood;
  cursor: pointer;
  
}
.searchpagemiddle{
  width: 90%;
  padding: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.searchpagechargingstation{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  scrollbar-width: 0px;
}
.searchstationcard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(231, 231, 231);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  width: 30%;
  cursor: pointer;
}
.searchstationcard:hover{
  background-color: aqua; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.notfoundcard{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}