.error-card {
    position: fixed;
    top: 50px;
    right: 10px;
    padding: 20px 20px;
    border-radius: 8px;
    background-color: #860909;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: none;
    }
    
    .error-card.success {
    background-color: #3897f0;
    color: #ffffff;
    }
    
.error-card.fail {
   background-color: #f44336;
   color: #ffffff;
}