.main_content{
    width: 100%;
    min-height: 90vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--white-color);
    color: var(--text-color);
    height: 100vh;

    
}
#map{
    width: 100%;
    height: 100%;   
    position: absolute;
}