.userlandingheader {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: var(--white-color);
  }
  
  .navbarcontainer {
    padding: 1.5rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .navbaritemscontainer {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    justify-content: center;
  }
  
  .navbar-item {
    padding: 1rem;
    cursor: pointer;
  }
  
  .navbarloginbutton, .navbarlogoutbutton {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    outline: none;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .navbarloginbutton:hover, .navbarlogoutbutton:hover {
    background-color: var(--white-color);
    color: var(--gray-color);
  }
  
  .burger-menu {
    cursor: pointer;
    font-size: 1.5rem;
    display: none; 
  }
  
  
  @media (max-width: 768px) {
    .burger-menu {
      display: block;
    }
    .navbaritemscontainer {
      display: none;
      flex-direction: column;
      width: 100%;
    }
    .navbaritemscontainer .navbar-item {
      padding: 1rem 0;
      text-align: center;
    }
    .navbaritemscontainer.show {
      display: flex;
    }
  }
  