.userlandingheader{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    color: var(--white-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarcontainer{
    padding: 1.5rem;
}
.navbar-item{
    padding: 1rem;
    cursor: pointer;
}
.navbar-brand{


}
.navuser{

}
.navbarloginbutton{
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    outline: none;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    cursor: pointer;

}
.navbarloginbutton:hover{
    background-color: var(--white-color);
    color: var(--gray-color);
}

/* .userlandingheader {
    width: 100%;
    background-color: #333;
    color: white;
}

.navbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    font-size: 1.5em;
    margin: 0;
}

.navbaritemscontainer {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    justify-content: center;
}

.navbar-item {
    margin: 0 10px;
    cursor: pointer;
}

.navbaruser {
    display: flex;
    align-items: center;
}

.navbarloginbutton {
    padding: 5px 10px;
    cursor: pointer;
}

.burger-menu {
    cursor: pointer;
    font-size: 1.5em;
    display: none; /* Initially hidden */
}

/* Basic styles for mobile */
@media (max-width: 600px) {
    .burger-menu {
        display: block;
    }
} */