.BookingHeading{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}
.BookingHeading .bookingSpan{
  font-size: 1.5rem;
  padding: 2%;
}

.chargePointDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  align-items: center;
  margin-left: 10%;
  align-items: center;
}
.chargePointcard{
  Display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  border: 1px solid;
  margin-bottom: 2%;
  cursor: pointer;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 4%;
  height: 10vh;
  border-radius: 10px;
}
.chargePointcard.selected {
  border-color: blue;
  background-color: #0d68b8;
}
.chargePointCardsDiv{
  display: flex;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
}
.chargePointDiv .bookingDatePickerDiv{
  padding: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  padding-bottom: 3%;

}
.chargePointDiv .bookingDatePickerDiv .bookingDatePicker{
  font-size: 1.2rem;
  padding: 1%;
}
.chargePointDiv .bookingDatePicker .UserDatePickerSpan{

  font-size: 1.5rem;
}
.chargePointDiv .BookingtimeslotDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
  
}
.chargePointDiv .BookingtimeslotDiv .timeSlotList{
  width: auto;
  min-width: 20%;
  font-size: 1.2rem;
}
.chargePointDiv .BookingtimeslotDiv .timeSlotlabel{
  font-size: 1.5rem;

}
.chargePointDiv .BookingButtonGroup{
  display: flex;
  gap: 10%;
  width: 100%;
  justify-content: center;
}

.chargePointDiv .BookingButtonGroup button:hover{
  background: 0 0;
  color: #ff4742;

}
.chargePointDiv .BookingButtonGroup button{

  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-size: 16px;

}

                
              